h1{
    background-color: black;
    color: white;
    text-align: center;
}
h2{
    background-color: black;
    color: white;
    text-align: center;
}

.parrafo{
    color: green;
}

#parrafofinal{
    color: blue;
}