body{
    margin: 0;
    background: rgb(226,223,217);
    background: linear-gradient(176deg, rgba(226,223,217,1) 0%, rgba(170,195,245,1) 100%);    
    font-family: Verdana, Geneva, Tahoma, sans-serif;    
}

#contenedor{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h1{
    margin-top: 0;
    margin-bottom: 20px;
}

form{
    padding: 58px;
    border: 1px solid lightslategray;
    border-radius: 35px;
}

form > *{
    display: block;
    text-align: center;
    font-size: 1.2rem;
}

input{
    margin-bottom: 16px;
    width: 300px;
    padding: 8px;
    box-sizing: border-box;
    border-radius: 10px;
    border: 0;
    box-shadow: 0 0 5px silver;
}

/* 
    Establecemos reglas para cuando el elemento tiene foco
*/
input:focus{
    /* 
        Quitamos la línea exterior cuando toma foco el elemento
    */
    outline: 0;
}

/* 
    Establecemos los estilos del input type submit usando [ ]
*/

input[type="submit"]{
    background-color: cornflowerblue;
    color: white;
    text-shadow: 0 0 2px black;
    transition: 0.5s;
    cursor: pointer;
}

input[type="submit"]:hover{
    background-color: rgb(62, 111, 202);
    color: rgb(248, 227, 219);    
}