form{
    width: 300px;
    margin: 0 auto;
}

fieldset{
    margin-bottom: 30px;
}

input[type="button"]{
    background-color: darkgreen;
    color: white;
    width: 50%;
    margin: 0 25%;
    padding: 5px;
    box-sizing: border-box;
    border-radius: 8px;
    border: 0;
    transition: 0.7s;
    cursor: pointer;
}

input[type="button"]:hover{
    background-color: green;
}