#contenedor{
    width: 600px;
    height: 600px;
    border: 1px solid black;
}

#contenedor > div{
    float:left;
    width: 150px;
    height: 150px;
    text-align: center;
    color: rgb(239, 249, 249);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#caja1{
    background-color: darkorchid;
}
#caja2{
    background-color: darkgrey;
}
#caja3{
    background-color:darkcyan; 
}
#caja4{
    background-color: darkgoldenrod;
}
h2{
    font-size: 20px;
}

p{
    font-style: italic;
}