h1,h2,h3{
    color: brown;
    /* 
        Elegimos una tipografía para los títulos, dentro de las "safe fonts". Las fuentes que comunmente están en el sistema y sus posibles reemplazos
    */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    /* 
        Espacio entre palabras
    */
    word-spacing: 4px;
    text-align: center;    
}

h1{
    /* 
        Cambiar el tamaño de la letra
        En principio usamos px, pero hay más opciones.
        rem es una de las más usadas para maquetas más avanzadas
    */
    font-size: 36px;   
    
}

h2{
    font-size: 30px;
}

h3{
    font-size: 24px;
}

p{
    font-size: 18px;
    font-family: 'Courier New', Courier, monospace;
    /* 
        Espesor de la fuente de 100 a 900 o bold
    */
    font-weight: bold;
    /* 
        Alto de la línea
    */
    line-height: 140%;

    /* 
        Espacio entre letras
    */
    letter-spacing: 1px;
}