#menu{
    display: flex;
    justify-content: space-around;
    width: 70%;
    margin: 0 auto;
    /* 
        Quitamos los puntitos delante de los li
    */
    list-style: none;
}

#menu li a{
    text-decoration: none;
    background-color: navy;
    color: white;
    /* 
        5px arriba y abajo
        20px a los laterales
    */
    padding: 5px 20px;
}

#menu li a:hover{
    background-color: orangered;
}