body{
    margin: 0;
}
#contenedor{
    background-color: blue;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
}

#contenedor > div{  
    width: 30%;
    height: 100px;
    background-color: black;
    margin-top: 10px;
    margin-bottom: 10px;    
}