body{
    margin: 0;
    /* 
        Duplicamos el font-size 
    */
    font-size: 2rem;
}

#contenedor{
    width: 60%;
    margin: 0 auto;
}

header{
    background-color: black;
    color: white;
    text-align: center;
    height: 180px;
    /* 
        Fijamos la cabecera arriba
    */
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}

main{
    /* 
        Agregamos este margin-top para que el contenido no quede por detrás de la cabecera
    */
    margin-top: 200px;
}

aside{
    position: fixed;
    top: 200px;
    right: 20px;
}

aside ul{
    list-style: none;
}

aside ul li a{
    color: darkgreen;
}

aside ul li a i{
    font-size: 2.8rem;
    padding: 20px;
}